html {
  font-size: 20px;
}

body {
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 992px) {
  h1 {
    font-size: 2rem;
    margin: 1.2rem 0;
  }
  h2 {
    font-size: 1.7rem;
    margin: 1rem 0;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 2rem;
    margin: 1.2rem 0;
  }
  h2 {
    font-size: 1.8rem;
    margin: 1rem 0;
  }
}
